.signup-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-size: cover;
  background-position: center;
  font-family: var(--fontRegular);

}

.signup-box--centents {
  background-color: #0E2954;
  width: 95%;
  padding: 17px 20px;

  margin: 0 auto;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);

}

.form-signup{
  flex: 1;
  /* padding: 20px; */
}

.signup-container h1 {
  color: white; /* Màu chữ */
  text-shadow: 2px 2px 2px #060148, 1px -1px 1px #060148;
  font-family: var(--fontExtraBold);
  font-size: 50px;
  /* padding-bottom: 30px; */
}
.signup-container .w-85-login{
  margin: 0 auto;
  width: 80%;
}
.signup-container .form-signup .form-group{
  margin-bottom: 10px;
}
.signup-container .form-signup .form-group input {
  border-radius: 5px ;
  display: block;
  color: white;
  width: 100%;
  padding: 11px 14px;
  background-color: transparent;
  outline: none;
  border: none;
  border-bottom:  2px solid white;
  

}

.signup-container .form-signup .form-group input:focus{
  border: 2px solid white;
}
.form-signup .signup-btn {
  width: 100%;
  margin-top: 20px;
  padding: 15px; 
  border: none;
  color: #fff;
  background-color: #2E8A99; /* Màu của nút Login */
  cursor: pointer;
  border-radius: 5px;
  font-size: 17px;
  font-family: var(--fontBold);
}

.form-signup {
  text-align: center;
  margin-top: 16px;
  color: white;

}

.signup-box--centents .social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
}
.signup-box--centents .social-icons button{
  background-color: transparent;
  border: none;
  outline: none;
}
.signup-box--centents .social-icons button i {
  margin-right: 10px; 
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  font-size: 25px;
    padding: 6px 13px;
}

.signup-box--centents .social-icons p{
  margin: 0 10px 0 0;

}

.signup-box--centents .image {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
  height: 522px;
}

.signup-box--centents .image img {
  width: 100%;
  height: 100%;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5);
}

.signup-box--centents .container-line {
  margin: auto;
  position: relative;
  width: 200px;
  height: 70px;
}

.signup-box--centents .line {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #D9D9D9;
}

.signup-box--centents .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #d9d9d9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-box--centents .circle p {
  font-size: 16px;
  margin: 0;
  color: #0E2954;
  font-weight: bold;

}
.signup-box--centents .form-group{
  position: relative;
}
.signup-box--centents .form-group
.eyes-pass{
  position: absolute;
  right: 8px;
  top: 0;

}
.eyes-pass i{
  border: none !important;
  font-size: 17px !important;
  padding-top: 16px !important;


}
@media only screen and (max-width: 1200px) {
  .signup-box--centents .image img{
    object-fit: cover;

  }
}
@media only screen and (max-width: 992px) {
  .signup-container .container {
    max-width: 915px;
}

}
@media only screen and (max-width: 768px) {
  .signup-box--centents .image {
    display: none;
}
.signup-container h1 {
  font-size: 40px;
}
}
@media only screen and (max-width: 580px) {
  .signup-container .w-85-login {
    margin: 0 auto;
    width: 90%;
}
.signup-box--centents .circle p {
  font-size: 14px;
}

  .facebook-button, .google-button {
    padding: 10px 5px;
    border: none;
    font-size: 14px;
  }
  .signup-box--centents {
    background-color: #0E2954;
    width: 100%;
  }
  .signup-container .form-signup .form-group input {
    font-size: 14px;
  }
  .form{
    font-size: 14px;
    padding: 20px 0;
  }
  .form-signup{
      width: 100%;
      margin: 0;
      box-shadow: none;
      
  }
  
  .signup-container h1 {
      font-size: 30px;
      padding-bottom: 10px;
  }
  

}