
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800&display=swap');


  :root {
    --colorPrimary: #FE9831;
    --colorMain: #FE6531;

    --colorFont:#000000;
    --colorRed:#E63946;
    --colorGreen:#84A7A1;
  


}